@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap');

*{
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;


}

h1{
    position: absolute;
    right: 44%;
    top: 20;
}
.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgb(38,38,50);
    background: linear-gradient(83deg, rgba(38,38,50,1) 0%, rgba(255,96,5,1) 50%);
    color: #ffffff;
}
.form-contact {
    width: 50%;
    padding-top: 40px;
}
.form-contact form{
    display: flex;
    flex-direction: column;
    
}

.form-contact form .textarea {
  
   width: 200px;
   height:  100px;
   padding-bottom: 80px;
   border:none;
   outline:none;
   background-color: transparent;
   border-bottom: 2px solid #ffffff;
   margin-top:30px;
   

}
.form-contact form .input-field {
    margin-bottom:15px;
    width: 200px;
    padding: 6px;
    border: none;
    outline:none;
    background-color: transparent;
    border-bottom: 2px solid #ffffff;



}
.contenedor {
    background-color: #262632;
    display: flex;
    width :800px;
    padding: 30px;
    box-shadow: 4px 4px 14px #262632;
    border-radius: 10px;
    
}

.contenedor section {
    margin: 50px;
}

.contenedor .info-contact{
   
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.link-container{
    padding: 20px;
}

 .info-contact .datos-contact .link-container a {
    text-decoration: none;
    padding: 5px;
    color:#ffffff
    
}

.info-contact .datos-contact .link-container a:hover {
    color:#ff8e28;
}

 .link-container i {
    color:#ff8e28;
    font-size:20px;
}

.btn-contact {
    padding: 10px 35px;
    border: none;
    background-color: #ffffff;
    color: #262632;
    margin-top:30px;
}

.btn-contact:hover {
   background-color: #ff8e28;
   transition:ease-in-out 0.5s;
   
}

