<p>componente-quienes-somos works!</p>

<!-- ======== Copiado desde maqueta (proyecto anterior) ======== -->

<section class="main-content">
    <h1 class="titulo_nosotros">  Sobre nosotros</h1>
    <p class="texto_nosotros">Somos un grupo de estudiantes, que pertenecemos a una institución educativa. Esta aplicacion es el resultado de nuestro primer proyecto,como alumnos. <br> Amantes de la tecnología, buscamos superarnos día a día para darles la mejor experiencia.</p>
</section>

<section class="main-content">
    <div class="container">
        
        <div class="d-flex justify-content-center row">
            <!-- Tarjeta Facu-->
            <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4">
                <div class="card rounded-lg shadow p-4 p-xl-5 mb-4 text-center  ">
                    <div class="banner rounded-top"></div>
                    <img src="assets/user/facu.jpg" alt="" class="img-circle mx-auto mb-3">
                    <h3 class="mb-1">Facundo Peralta</h3>
                    <p class="mb-4">Desarrollador</p>
                    <div class="social-links d-flex justify-content-center">
                        <a href="#!" class="mx-2" data-bs-toggle="modal" data-bs-target="#modalFacu"><img src="assets/social/info4.svg" alt="Info"></a>
                        <a href="https://github.com/facuezeperalta" class="mx-2" Target="_blank"><img src="assets/social/github.svg" alt="Github"></a>
                        <a href="https://www.linkedin.com/in/facundo-peralta-702306a2/" class="mx-2" Target="_blank"><img src="assets/social/linkedin.svg" alt="Linkedin"></a>
                    </div>
                </div>
            </div>

            <div	div class="modal fade" id="modalFacu" tabindex="-1" aria-labelledby="modalFacuLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="modalFacuLabel">Facundo Peralta</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                  </div>
                </div>
              </div>
            <!-- Tarjeta Facu-->

            <!-- Tarjeta Silvina-->
            <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4">
                <div class="card rounded-lg shadow p-4 p-xl-5 mb-4 text-center  ">
                    <div class="banner rounded-top"></div>
                    <img src="assets/user/sil.jpg" alt="" class="img-circle mx-auto mb-3">
                    <h3 class="mb-1">Silvina Soria</h3>
                    <p class="mb-4">Desarrolladora</p>
                    <div class="social-links d-flex justify-content-center">
                        <a href="#!" class="mx-2" data-bs-toggle="modal" data-bs-target="#modalSilvina"><img src="assets/social/info4.svg" alt="Info"></a>
                        <a href="https://github.com/Silvina-Dew" class="mx-2" Target="_blank"><img src="assets/social/github.svg" alt="Github"></a>
                        <a href="https://www.linkedin.com/in/silvina-eva-soria" class="mx-2" Target="_blank"><img src="assets/social/linkedin.svg" alt="Linkedin"></a>
                    </div>
                </div>
            </div>

            <div	div class="modal fade" id="modalSilvina" tabindex="-1" aria-labelledby="modalSilvinaLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="modalSilvinaLabel">Silvina Soria</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                  </div>
                </div>
              </div>
            <!-- Tarjeta Silvina-->

            <!-- Tarjeta Fede-->
            <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4">
                <div class="card rounded-lg shadow p-4 p-xl-5 mb-4 text-center  ">
                    <div class="banner rounded-top"></div>
                    <img src="assets/user/fede.jpg" alt="" class="img-circle mx-auto mb-3">
                    <h3 class="mb-1">Federico Ocaranza</h3>
                    <p class="mb-4">Desarrollador</p>
                    <div class="social-links d-flex justify-content-center">
                        <a href="#!" class="mx-2" data-bs-toggle="modal" data-bs-target="#modalFede"><img src="assets/social/info4.svg" alt="Info"></a>
                        <a href="https://github.com/fede9087" class="mx-2" Target="_blank"><img src="assets/social/github.svg" alt="Github"></a>
                        <a href="#!" class="mx-2" Target="_blank"><img src="assets/social/linkedin.svg" alt="Linkedin"></a>
                    </div>
                </div>
            </div>

            <div	div class="modal fade" id="modalFede" tabindex="-1" aria-labelledby="modalFedeLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="modalFedeLabel">Federico Ocaranza</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                  </div>
                </div>
              </div>
            <!-- Tarjeta Fede-->

            <!-- Tarjeta Andres-->
            <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4">
                <div class="card rounded-lg shadow p-4 p-xl-5 mb-4 text-center  ">
                    <div class="banner rounded-top"></div>
                    <img src="assets/user/andres.jpg" alt="" class="img-circle mx-auto mb-3">
                    <h3 class="mb-1">Andres Luna</h3>
                    <p class="mb-4">Desarrollador</p>
                    <div class="social-links d-flex justify-content-center">
                        <a href="#!" class="mx-2" data-bs-toggle="modal" data-bs-target="#modalAndres"><img src="assets/social/info4.svg" alt="Info"></a>
                        <a href="https://github.com/andresito-luna" class="mx-2" Target="_blank"><img src="assets/social/github.svg" alt="Github"></a>
                        <a href="https://www.linkedin.com/in/andres-luna-arg/" class="mx-2" Target="_blank"><img src="assets/social/linkedin.svg" alt="Linkedin"></a>
                    </div>
                </div>
            </div>

            <div	div class="modal fade" id="modalAndres" tabindex="-1" aria-labelledby="modalAndresLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="modalAndresLabel">Andres Luna</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                  </div>
                </div>
              </div>
            <!-- Tarjeta Andres-->

            <!-- Tarjeta Vero-->
            <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4">
                <div class="card rounded-lg shadow p-4 p-xl-5 mb-4 text-center  ">
                    <div class="banner rounded-top"></div>
                    <img src="assets/user/vero.jpg" alt="" class="img-circle mx-auto mb-3">
                    <h3 class="mb-1">Veronica Torres</h3>
                    <p class="mb-4">Desarrolladora</p>
                    <div class="social-links d-flex justify-content-center">
                        <a href="#!" class="mx-2" data-bs-toggle="modal" data-bs-target="#modalVero"><img src="assets/social/info4.svg" alt="Info"></a>
                        <a href="https://github.com/verofx" class="mx-2" Target="_blank"><img src="assets/social/github.svg" alt="Github"></a>
                        <a href="#!" class="mx-2" Target="_blank"><img src="assets/social/linkedin.svg" alt="Linkedin"></a>
                    </div>
                </div>
            </div>

            <div	div class="modal fade" id="modalVero" tabindex="-1" aria-labelledby="modalVeroLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="modalVeroLabel">Veronica Torres</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                  </div>
                </div>
              </div>
            <!-- Tarjeta Vero-->

            <!-- Tarjeta Carina-->
            <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4">
                <div class="card rounded-lg shadow p-4 p-xl-5 mb-4 text-center  ">
                    <div class="banner rounded-top"></div>
                    <img src="assets/user/carina.jpg" alt="" class="img-circle mx-auto mb-3">
                    <h3 class="mb-1">Carina Payleman</h3>
                    <p class="mb-4">Desarrolladora</p>
                    <div class="social-links d-flex justify-content-center">
                        <a href="#!" class="mx-2" data-bs-toggle="modal" data-bs-target="#modalCarina"><img src="assets/social/info4.svg" alt="Info"></a>
                        <a href="https://github.com/PaylemanC" class="mx-2" Target="_blank"><img src="assets/social/github.svg" alt="Github"></a>
                        <a href="https://www.linkedin.com/in/carina-rocio-payleman-6a12b124b/" class="mx-2" Target="_blank"><img src="assets/social/linkedin.svg" alt="Linkedin"></a>
                    </div>
                </div>
            </div>

            <div	div class="modal fade" id="modalCarina" tabindex="-1" aria-labelledby="modalCarinaLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="modalCarinaLabel">Carina Payleman</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                  </div>
                </div>
              </div>
            <!-- Tarjeta Carina-->
            
            <!-- Tarjeta Esteban-->
            <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4">
                <div class="card rounded-lg shadow p-4 p-xl-5 mb-4 text-center  ">
                    <div class="banner rounded-top"></div>
                    <img src="assets/user/esteban.jpg" alt="" class="img-circle mx-auto mb-3">
                    <h3 class="mb-1">Esteban Martins</h3>
                    <p class="mb-4">Desarrollador</p>
                    <div class="social-links d-flex justify-content-center">
                        <a href="#!" class="mx-2" data-bs-toggle="modal" data-bs-target="#modalEsteban"><img src="assets/social/info4.svg" alt="Info"></a>
                        <a href="https://github.com/estebanmartins" class="mx-2" Target="_blank"><img src="assets/social/github.svg" alt="Github"></a>
                        <a href="#!" class="mx-2" Target="_blank"><img src="assets/social/linkedin.svg" alt="Linkedin"></a>
                    </div>
                </div>
            </div>

            <div	div class="modal fade" id="modalEsteban" tabindex="-1" aria-labelledby="modalEstebanLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="modalEstebanLabel">Esteban Martins</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                  </div>
                </div>
              </div>
            <!-- Tarjeta Esteban-->

            <!-- Tarjeta Horacio-->
            <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4">
                <div class="card rounded-lg shadow p-4 p-xl-5 mb-4 text-center  ">
                    <div class="banner rounded-top"></div>
                    <img src="assets/user/horacio.jpg" alt="" class="img-circle mx-auto mb-3">
                    <h3 class="mb-1">Horacio Quiroga </h3>
                    <p class="mb-4">Desarrollador</p>
                    <div class="social-links d-flex justify-content-center">
                        <a href="#!" class="mx-2" data-bs-toggle="modal" data-bs-target="#modalHoracio"><img src="assets/social/info4.svg" alt="Info"></a>
                        <a href="https://github.com/horacioequiroga" class="mx-2" Target="_blank"><img src="assets/social/github.svg" alt="Github"></a>
                        <a href="#!" class="mx-2" Target="_blank"><img src="assets/social/linkedin.svg" alt="Linkedin"></a>
                    </div>
                </div>
            </div>

            <div	div class="modal fade" id="modalHoracio" tabindex="-1" aria-labelledby="modalHoracioLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="modalHoracioLabel">Horacio Quiroga</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                  </div>
                </div>
              </div>
            <!-- Tarjeta Horacio-->

            <!-- Tarjeta Flor-->
            <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4">
                <div class="card rounded-lg shadow p-4 p-xl-5 mb-4 text-center  ">
                    <div class="banner rounded-top"></div>
                    <img src="assets/user/flor.jpg" alt="" class="img-circle mx-auto mb-3">
                    <h3 class="mb-1">Florencia Rodriguez</h3>
                    <p class="mb-4">Desarrolladora</p>
                    <div class="social-links d-flex justify-content-center">
                        <a href="#!" class="mx-2" data-bs-toggle="modal" data-bs-target="#modalFlor"><img src="assets/social/info4.svg" alt="Info"></a>
                        <a href="https://github.com/FlorenciaRoux" class="mx-2" Target="_blank"><img src="assets/social/github.svg" alt="Github"></a>
                        <a href="https://www.linkedin.com/mwlite/in/florencia-rodriguez-09b8a8247" class="mx-2" Target="_blank"><img src="assets/social/linkedin.svg" alt="Linkedin"></a>
                    </div>
                </div>
            </div>

            <div	div class="modal fade" id="modalFlor" tabindex="-1" aria-labelledby="modalFlorLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="modalFlorLabel">Florencia Rodriguez</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                  </div>
                </div>
              </div>
            <!-- Tarjeta Flor-->

            <!-- Tarjeta Guille-->
            <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4 ">
                <div class="card rounded-lg shadow p-4 p-xl-5 mb-4 text-center  ">
                    <div class="banner rounded-top"></div>
                    <img src="assets/user/guille.jpg" alt="" class="img-circle mx-auto mb-3">
                    <h3 class="mb-1">Guillermo Arias</h3>
                    <p class="mb-4">Desarrollador</p>
                    <div class="social-links d-flex justify-content-center">
                        <a href="#!" class="mx-2" data-bs-toggle="modal" data-bs-target="#modalGuille"><img src="assets/social/info4.svg" alt="Info"></a>
                        <a href="https://github.com/misterio07" class="mx-2" Target="_blank"><img src="assets/social/github.svg" alt="Github"></a>
                        <a href="#!" class="mx-2" Target="_blank"><img src="assets/social/linkedin.svg" alt="Linkedin"></a>
                    </div>
                </div>
            </div>

            <div	div class="modal fade" id="modalGuille" tabindex="-1" aria-labelledby="modalGuilleLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="modalGuilleLabel">Guillermo Arias</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                  </div>
                </div>
              </div>
            <!-- Tarjeta Guille-->
        </div>
        
    </div>
</section>

<section class="main-content">
    <div class="container">
        <div class="row">
            <h1 class="titulo_nosotros">Sobre El Instituto Superior Politécnico Córdoba</h1>
        </div>

        <div class="row">
            <div class="col-xl-8 col-sm-6 col-md-6 col-lg-4 ">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13621.008256102054!2d-64.1906638!3d-31.4071806!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcf43bc8d04170a61!2sISPC%20Instituto%20Superior%20Polit%C3%A9cnico%20C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1665785481421!5m2!1ses!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4">
                <picture>
                    <img src="assets/ispc_logo.png" alt="Logo de ISPC" class="logo_ispc">
                </picture>
                <p class="texto_nosotros">Con una propuesta educativa que parte del aprendizaje centrado en el saber y el saber hacer; el Instituto Superior Politécnico Córdoba es la primera institución de gestión estatal en Argentina en proponer un modelo innovador en materia pedagógica, metodológica, tecnológica y de vinculación.</p>
            </div>

        </div>

    </div>
    
    
</section>