<!-- ======== Copiado desde maqueta (proyecto anterior) ======== -->

<section class="main-content">
    <h1 class="titulo_nosotros">  Sobre nosotros</h1>
    <p class="texto_nosotros">Somos un grupo de estudiantes, que pertenecemos a una institución educativa. Esta aplicacion es el resultado de nuestro primer proyecto,como alumnos. <br> Amantes de la tecnología, buscamos superarnos día a día para darles la mejor experiencia.</p>
</section>

<section class="main-content">
    <div class="container">

        <app-tarjetas-integrantes></app-tarjetas-integrantes>

    </div>
</section>

<section class="main-content">
    <div class="container">
        <div class="row">
            <h1 class="titulo_nosotros">Sobre El Instituto Superior Politécnico Córdoba</h1>
        </div>

        <div class="row">
            <div class="col-xl-8 col-sm-6 col-md-6 col-lg-4 ">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13621.008256102054!2d-64.1906638!3d-31.4071806!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcf43bc8d04170a61!2sISPC%20Instituto%20Superior%20Polit%C3%A9cnico%20C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1665785481421!5m2!1ses!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4">
                <picture>
                    <img src="assets/ispc_logo.png" alt="Logo de ISPC" class="logo_ispc">
                </picture>
                <p class="texto_nosotros">Con una propuesta educativa que parte del aprendizaje centrado en el saber y el saber hacer; el Instituto Superior Politécnico Córdoba es la primera institución de gestión estatal en Argentina en proponer un modelo innovador en materia pedagógica, metodológica, tecnológica y de vinculación.</p>
            </div>

        </div>

    </div>


</section>
