@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap');
:root {
	--fuenteT: 'Anton', sans-serif;
	--fuenteP: 'Inter Tight', sans-serif;
	}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #262632;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient( rgba(0,0,0,0.6),rgba(0,0,0,0.5)),url("../assets/registro2.jpg");
    background-size: cover;
}

h6.mis-rutinas{
    font-size: 1.5rem;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
  }
  
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


form {
    text-align: center;
    background: rgba( 19, 32, 28, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    box-shadow:0 5px 30px black;
    padding: 15px;
}


.form-container form .input-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:8px;
    width: 260px;
}

/*Cambiar el estilo del autocompletado*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {  
    -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.input-container input {
    width: 230px;
    padding:0px;
    border: none;
    outline:none;
    border-bottom: 2px solid #FF6600;
    text-align: center;
    background-color:transparent;
    color:#ffffff;
}

::placeholder { color:#E0E0E0; 
}

label{
    color: #E0E0E0;
    font-size: 15px;
}


.form-title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 30px;
}


form i.icon1 {
    font-size:30px;
    padding-bottom: 20px;
    color:#FF6600;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


form .form-footer label  {
    font-size:14px ;
    width: 100%;
}

form .form-footer .agree {
    color:#E0E0E0; 
    font-weight: bold;  
}


form h1 {
    font-size: 25px;
    padding-bottom: 20px;
    color:#ffffff;
}


.form-footer {
    padding:15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.button-register a {
    text-decoration: none;
    color:#262632;
}


.button-register {
    padding: 10px 20px;
    border-radius: 13px;
    border:none;
    background-color:#FF6600;
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
    font-size: 15px;
    font-weight:bold;
    margin-top: 20px;
 }


 .button-register:hover {
    background-color: #ff8e28;
    box-shadow: none;
 }


form .return {
    font-size: 15px;
    padding-top:25px;
    color:#000005;
    font-weight: bold;
}


form .return a{
    font-weight: lighter;
    color:#ffffff;
}


form .return a:hover{
    color:#ff8e28;
    text-decoration: underline;
    font-weight: 500;
}

.input-container, input:focus {
    outline: none;

}

.terminos:hover {
    color: #FF6600;
}

/********** Funcionalidad JS *********/

.input-container.ok input{
    border-bottom: 0.1px solid rgb(54, 242, 21);
}

.input-container.falla input{
    border-bottom :0.1px solid red;
   
}
.input-container p{
    visibility: hidden;
    padding:0;
    margin:0;
    color: red;
    font-weight: lighter;
    font-style: italic;
    font-size: 12px;
}

.input-container.falla p{
    visibility:visible;
    color: red;

}

#check-error {
    color:red; 
    font-size: 12px;
    font-style: italic;
    font-weight: lighter; 
}

/* RESPONSIVE DESIGN */
@media (max-width: 2000px)
{
    main{
        display: flex;
        background-position: center center;
        height: 100vh;
    }

}
@media (max-width: 950px) {

    
    main{
        display: flex;
        background-position: center center;
        height: 100vh;
      
    }

    .form-header .icon1 {
        display: none;
    }

}


@media (max-width: 500px) {

    main {
        background-position: center ;
    } 

    form h1 {
        font-size: 25px;
     }
     
     .form-container form .input-container{
        width: 260px;
     }

     .input-container input {
        width: 230px;
        padding:0px;
    }

    form {
       width: 300px;
    }


    .btn {
        padding: 9px 35px;
        border-radius: 13px;
        font-size: 13px;
        margin-top: 8px;
     }


     form .return {
        font-size: 12px;
        padding-top:25px;
        color:#000005;
        padding: 1px;
        letter-spacing: 0.4px;
    }


    .form-footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }


     form .form-footer .agree {
        padding-bottom: 15px;
        font-size: 14px;
    }

    
    .form-header .icon1 {
        display: none;
    }

    .button-register {
        margin-top:2px;
     }
}