<nav class="navbar navbar-dark navbar-expand-md bg-dark  sticky-top ">
    <div class="container"><a class="navbar-brand d-flex align-items-center" routerLink="/home"><span><img class="icon" src="../../../assets/iconol.png" alt="icono"></span><h6 class="mis-rutinas">MisRutinas</h6></a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-5" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" routerLink="/home">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/contacto">Contacto</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/quienes-somos">¿Quienes Somos?</a></li>
                <li class="nav-item"><a class="nav-link " routerLink="/registro">Registro</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/suscripcion">Suscripción</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login"><img class="icon" src="../../../assets/usuario.png" alt="Inicia Sesión"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
