.navbar{
    background-color: black !important;
  }
  
  
  .nav-item a{
    opacity: 0.9;
    margin-right: 1.5vw;
  }
  
  #nav-item{
    display: none;
  }
  
  .nav-item{
    list-style: none;
  }
  
  .nav-link{
    display: inline-block;
    margin-block: 2px;
    text-decoration: none;
    color: #fff;
    position: relative;
    font-family: 'Roboto', sans-serif;
  }
  
   .nav-link:hover {
    color: #ff6600;
  }
  
  .nav-link.active{
    color: #ff6600 !important;
    font-family: 'Roboto', sans-serif;
  }
  
  .nav-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #ff6600;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .50s ease;
  }
  
  .nav-link:hover::after{
    transform: scaleX(1);
  }
  