<div class="d-flex justify-content-center row">
    <!-- Tarjeta Facu-->
    <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4">
        <div class="card rounded-lg shadow p-4 p-xl-5 mb-4 text-center  ">
            <div class="banner rounded-top"></div>
            <img src="assets/user/facu.jpg" alt="" class="img-circle mx-auto mb-3">
            <h5 class="mb-1">Facundo Peralta</h5>
            <p class="mb-4">Desarrollador</p>
            <div class="social-links d-flex justify-content-center">
                <a href="#!" class="mx-2" data-bs-toggle="modal" data-bs-target="#modalFacu"><img src="assets/social/info4.svg" alt="Info"></a>
                <a href="https://github.com/facuezeperalta" class="mx-2" Target="_blank"><img src="assets/social/github.svg" alt="Github"></a>
                <a href="https://www.linkedin.com/in/facundo-peralta-702306a2/" class="mx-2" Target="_blank"><img src="assets/social/linkedin.svg" alt="Linkedin"></a>
            </div>
        </div>
    </div>

    <div	div class="modal fade" id="modalFacu" tabindex="-1" aria-labelledby="modalFacuLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="modalFacuLabel">Facundo Peralta</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
          </div>
        </div>
      </div>
    <!-- Tarjeta Facu-->

    <!-- Tarjeta Fede-->
    <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4">
        <div class="card rounded-lg shadow p-4 p-xl-5 mb-4 text-center  ">
            <div class="banner rounded-top"></div>
            <img src="assets/user/fede.jpg" alt="" class="img-circle mx-auto mb-3">
            <h5 class="mb-1">Federico Ocaranza</h5>
            <p class="mb-4">Desarrollador</p>
            <div class="social-links d-flex justify-content-center">
                <a href="#!" class="mx-2" data-bs-toggle="modal" data-bs-target="#modalFede"><img src="assets/social/info4.svg" alt="Info"></a>
                <a href="https://github.com/fede9087" class="mx-2" Target="_blank"><img src="assets/social/github.svg" alt="Github"></a>
                <a href="#!" class="mx-2" Target="_blank"><img src="assets/social/linkedin.svg" alt="Linkedin"></a>
            </div>
        </div>
    </div>

    <div	div class="modal fade" id="modalFede" tabindex="-1" aria-labelledby="modalFedeLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="modalFedeLabel">Federico Ocaranza</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
          </div>
        </div>
      </div>
    <!-- Tarjeta Fede-->

    <!-- Tarjeta Andres-->
    <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4">
        <div class="card rounded-lg shadow p-4 p-xl-5 mb-4 text-center  ">
            <div class="banner rounded-top"></div>
            <img src="assets/user/andres.jpg" alt="" class="img-circle mx-auto mb-3">
            <h5 class="mb-1">Andres Luna</h5>
            <p class="mb-4">Desarrollador</p>
            <div class="social-links d-flex justify-content-center">
                <a href="#!" class="mx-2" data-bs-toggle="modal" data-bs-target="#modalAndres"><img src="assets/social/info4.svg" alt="Info"></a>
                <a href="https://github.com/andresito-luna" class="mx-2" Target="_blank"><img src="assets/social/github.svg" alt="Github"></a>
                <a href="https://www.linkedin.com/in/andres-luna-arg/" class="mx-2" Target="_blank"><img src="assets/social/linkedin.svg" alt="Linkedin"></a>
            </div>
        </div>
    </div>

    <div	div class="modal fade" id="modalAndres" tabindex="-1" aria-labelledby="modalAndresLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title" id="modalAndresLabel">Andres Luna</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
          </div>
        </div>
      </div>
    <!-- Tarjeta Andres-->

    <!-- Tarjeta Vero-->
    <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4">
        <div class="card rounded-lg shadow p-4 p-xl-5 mb-4 text-center  ">
            <div class="banner rounded-top"></div>
            <img src="assets/user/vero.jpg" alt="" class="img-circle mx-auto mb-3">
            <h5 class="mb-1">Veronica Torres</h5>
            <p class="mb-4">Desarrolladora</p>
            <div class="social-links d-flex justify-content-center">
                <a href="#!" class="mx-2" data-bs-toggle="modal" data-bs-target="#modalVero"><img src="assets/social/info4.svg" alt="Info"></a>
                <a href="https://github.com/verofx" class="mx-2" Target="_blank"><img src="assets/social/github.svg" alt="Github"></a>
                <a href="#!" class="mx-2" Target="_blank"><img src="assets/social/linkedin.svg" alt="Linkedin"></a>
            </div>
        </div>
    </div>

    <div	div class="modal fade" id="modalVero" tabindex="-1" aria-labelledby="modalVeroLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="modalVeroLabel">Veronica Torres</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
          </div>
        </div>
      </div>
    <!-- Tarjeta Vero-->

    <!-- Tarjeta Carina-->
    <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4">
        <div class="card rounded-lg shadow p-4 p-xl-5 mb-4 text-center  ">
            <div class="banner rounded-top"></div>
            <img src="assets/user/carina.jpg" alt="" class="img-circle mx-auto mb-3">
            <h5 class="mb-1">Carina Payleman</h5>
            <p class="mb-4">Desarrolladora</p>
            <div class="social-links d-flex justify-content-center">
                <a href="#!" class="mx-2" data-bs-toggle="modal" data-bs-target="#modalCarina"><img src="assets/social/info4.svg" alt="Info"></a>
                <a href="https://github.com/PaylemanC" class="mx-2" Target="_blank"><img src="assets/social/github.svg" alt="Github"></a>
                <a href="https://www.linkedin.com/in/carina-rocio-payleman-6a12b124b/" class="mx-2" Target="_blank"><img src="assets/social/linkedin.svg" alt="Linkedin"></a>
            </div>
        </div>
    </div>

    <div	div class="modal fade" id="modalCarina" tabindex="-1" aria-labelledby="modalCarinaLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="modalCarinaLabel">Carina Payleman</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
          </div>
        </div>
      </div>
    <!-- Tarjeta Carina-->
    
    <!-- Tarjeta Esteban-->
    <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4">
        <div class="card rounded-lg shadow p-4 p-xl-5 mb-4 text-center  ">
            <div class="banner rounded-top"></div>
            <img src="assets/user/esteban.jpg" alt="" class="img-circle mx-auto mb-3">
            <h5 class="mb-1">Esteban Martins</h5>
            <p class="mb-4">Desarrollador</p>
            <div class="social-links d-flex justify-content-center">
                <a href="#!" class="mx-2" data-bs-toggle="modal" data-bs-target="#modalEsteban"><img src="assets/social/info4.svg" alt="Info"></a>
                <a href="https://github.com/estebanmartins" class="mx-2" Target="_blank"><img src="assets/social/github.svg" alt="Github"></a>
                <a href="#!" class="mx-2" Target="_blank"><img src="assets/social/linkedin.svg" alt="Linkedin"></a>
            </div>
        </div>
    </div>

    <div	div class="modal fade" id="modalEsteban" tabindex="-1" aria-labelledby="modalEstebanLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="modalEstebanLabel">Esteban Martins</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
          </div>
        </div>
      </div>
    <!-- Tarjeta Esteban-->

    <!-- Tarjeta Horacio-->
    <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4">
        <div class="card rounded-lg shadow p-4 p-xl-5 mb-4 text-center  ">
            <div class="banner rounded-top"></div>
            <img src="assets/user/horacio.jpg" alt="" class="img-circle mx-auto mb-3">
            <h5 class="mb-1">Horacio Quiroga </h5>
            <p class="mb-4">Desarrollador</p>
            <div class="social-links d-flex justify-content-center">
                <a href="#!" class="mx-2" data-bs-toggle="modal" data-bs-target="#modalHoracio"><img src="assets/social/info4.svg" alt="Info"></a>
                <a href="https://github.com/horacioequiroga" class="mx-2" Target="_blank"><img src="assets/social/github.svg" alt="Github"></a>
                <a href="#!" class="mx-2" Target="_blank"><img src="assets/social/linkedin.svg" alt="Linkedin"></a>
            </div>
        </div>
    </div>

    <div	div class="modal fade" id="modalHoracio" tabindex="-1" aria-labelledby="modalHoracioLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="modalHoracioLabel">Horacio Quiroga</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
          </div>
        </div>
      </div>
    <!-- Tarjeta Horacio-->

    <!-- Tarjeta Guille-->
    <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4 ">
        <div class="card rounded-lg shadow p-4 p-xl-5 mb-4 text-center  ">
            <div class="banner rounded-top"></div>
            <img src="assets/user/guille.jpg" alt="" class="img-circle mx-auto mb-3">
            <h5 class="mb-1">Guillermo Arias</h5>
            <p class="mb-4">Desarrollador</p>
            <div class="social-links d-flex justify-content-center">
                <a href="#!" class="mx-2" data-bs-toggle="modal" data-bs-target="#modalGuille"><img src="assets/social/info4.svg" alt="Info"></a>
                <a href="https://github.com/misterio07" class="mx-2" Target="_blank"><img src="assets/social/github.svg" alt="Github"></a>
                <a href="#!" class="mx-2" Target="_blank"><img src="assets/social/linkedin.svg" alt="Linkedin"></a>
            </div>
        </div>
    </div>

    <div	div class="modal fade" id="modalGuille" tabindex="-1" aria-labelledby="modalGuilleLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="modalGuilleLabel">Guillermo Arias</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
          </div>
        </div>
      </div>
    <!-- Tarjeta Guille-->
</div>