<div class="d-flex justify-content-center row">
    <!-- Tarjeta-->
    <div *ngFor="let i of listaIntegrantes" class="col-xl-4 col-sm-6 col-md-6 col-lg-4">
        <div class="card rounded-lg shadow p-4 p-xl-5 mb-4 text-center  ">
            <div class="banner rounded-top"></div>
            <img src="assets/user/{{i.foto}}" alt="" class="img-circle mx-auto mb-3">
            <h5 class="mb-1">{{i.nombre}}</h5>
            <p class="mb-4">{{i.rol}}</p>
            <div class="social-links d-flex justify-content-center">
                <a href="https://github.com/{{i.github}}" class="mx-2" Target="_blank"><img src="assets/social/github.svg" alt="Github"></a>
                <a href="{{i.linkedin}}" class="mx-2" Target="_blank"><img src="assets/social/linkedin.svg" alt="Linkedin"></a>
            </div>
        </div>
    </div>
    <!-- Tarjeta-->
</div>
