.banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 125px;
	background-image: url("../../../../assets/banner2.jpg");
	background-position: center;
	background-size: cover;
}

.img-circle {
	height: 150px;
	width: 150px;
	border-radius: 150px;
	border: 3px solid #262632;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.social-links a {
	transition: all 0.2s;
}
.social-links a img {
	height: 30px;
}
.social-links a:hover {
	transform: translateY(-3px);
}