<div class="sidebar">
  <ul>
    <li><a routerLink="/dashboard">Inicio</a></li> <!-- LISTA -->
    <li><a routerLink="/dashboard/rutinas">TusRutinas</a></li> <!-- LISTA -->
    <li><a routerLink="/dashboard/crear-rutina">Crear rutina</a></li> <!-- LISTA -->
    <li><a routerLink="/dashboard/mi-suscripcion">Mi Suscripción</a></li> <!-- LISTA (levantar json-server) -->
    <li><a routerLink="/dashboard">Perfil</a></li> <!-- Opcional -->
    <li><a routerLink="/home">Salir</a></li> <!-- LISTA -->
  </ul>
</div>
