<div class="sidebar navbar navbar-dark navbar-expand-md sticky-top">
  <div class="container">
    <button class="navbar-toggler custom-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-5">
      <span class="visually-hidden">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navcol-5" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item"><a routerLink="/dashboard" class="nav-link">Inicio</a></li> <!-- LISTA -->
        <li class="nav-item"><a routerLink="/dashboard/rutinas" class="nav-link">TusRutinas</a></li> <!-- LISTA -->
        <li class="nav-item"><a routerLink="/dashboard/crear-rutina" class="nav-link">Crear rutina</a></li> <!-- LISTA -->
        <li class="nav-item"><a routerLink="/dashboard/mi-suscripcion" class="nav-link">Mi Suscripción</a></li> <!-- LISTA (levantar json-server) -->
        <li class="nav-item"><a routerLink="/dashboard" class="nav-link">Perfil</a></li> <!-- Opcional -->
        <li class="nav-item"><a routerLink="/home" class="nav-link">Salir</a></li> <!-- LISTA -->
      </ul>
    </div>
  </div>
</div>
