<!-- Esta página es solo de MUESTRA. Más adelante se renovará al inicio de la app-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login-exitoso.css">
    <title>Bienvenido</title>
</head>

<body>
    <main>
        <div class="principal">
            <h1 class="titulo">Bienvenido al sistema</h1>
            <img src="img/icon.png" class="logo" alt="logo">
        </div>
        <div class="regreso">
            <input type="button" value="Volver a inicio" class="btn" role="link" onclick="window.location='index.html'">
        </div>
    </main>
</body>

</html>