<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Registro exitoso!</title>
    <link rel="stylesheet" href="css/estilosRegistro.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style_index.css">
    <link rel="stylesheet" href="ccs/registroexitoso.css">
    
</head>

<body>
    <!-- Barra de navegacion    [Guillermo Arias]-->
    <nav class="navbar navbar-dark navbar-expand-md bg-dark  sticky-top ">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="index.html"><span><img class="icon" src="img/iconol.png" alt="icono"></span><h6 class="mis-rutinas">MisRutinas</h6></a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div id="navcol-5" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link " href="index.html">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="contacto.html">Contacto</a></li>
                    <li class="nav-item"><a class="nav-link" href="quienes-somos.html">¿Quienes Somos?</a></li>
                    <li class="nav-item"><a class="nav-link active" href="registro.html">Registro</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="login.html"><img class="icon" src="img/usuario.png" alt="icon registración"></a>
                      </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <!--Tu código aquí-->
        <div class="form-container">
           
            <form action="registro-exitoso.html"  id="formulario">
                <div class="form-header">
                <i class="fa-solid fa-user-plus icon1"></i></i>
                <h1>¡Registro completado exitósamente!</h1>    
            </form>
        <button  type="button" class="button-register" ><a href="login.html"> Ir al Login </a></button>
    </main>
    
    <!--Scrips siempre debajo de aquí-->
    
</body>

</html>