<div class="form-container">
           
    <form action="registro-exitoso.html"  id="formulario">
        <div class="form-header">
        <i class="fa-solid fa-user-plus icon1"></i>
        <h1>Registrate</h1>
        </div>
        <div class="input-container">
            <input type="text"  placeholder="Nombre" id="nombre">
            <p></p>
        </div>
        <div class="input-container">
            <input type="text"  placeholder="Apellido" id="apellido" >
            <p></p>
        </div>
        <div class="input-container">
            <input type="text" placeholder="Nombre de Usuario" id="usuario" >
            <p></p>
        </div>
        <div class="input-container">
            <input type="email" placeholder="Correo Electronico" id="correo">
            <p></p>
        </div>
        <div class="input-container">
            <input type="password" placeholder="Ingrese su contraseña" id="password1">
            <p></p>
        </div>
        <div class="input-container">
            <input type="password" placeholder="Confirme su contraseña" id="password2">
            <p></p>
        </div>
        <div class="input-container">
            <label for="date">Fecha de nacimiento</label>
            <input type="date" placeholder="Fecha de nacimiento" id="date">
            <p></p>
        </div>
        
        
        <p class="return">¿Ya tienes una cuenta?<br><a href="">Ir a inicio de sesión</a></p>
    </form>
</div>
