@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap');
:root {
	--fuenteT: 'Anton', sans-serif;
	--fuenteP: 'Inter Tight', sans-serif;
	}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1{
    position: absolute;
    right: 50%;
    top: 20;
}
.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgb(38,38,50);
    background: linear-gradient(83deg, rgba(38,38,50,1) 0%, rgba(255,96,5,1) 50%);
    color: #ffffff;
}
h6.mis-rutinas{
  font-size: 1.5rem;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
}
  
.link-container{
    padding: 20px;
}
.link-container i {
    color:#ff8e28;
    font-size:20px;
}
.discord{
    text-decoration: none !important;
}
.sombra{
    box-shadow: 5px 5px 10px #262632;
}

form div .transparencia{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
    color: aliceblue;
}
.requerido {
    margin-top: 20px;
    margin-left: 4px; 
    opacity: 30%;
    font-style: italic;
    font-size: smaller;
}
  
/* Fomulario eventos */
/*  
.error {
    background-color: rgb(185, 0, 0);
    text-align: center;
    padding: 1rem;
    color: white;
    text-transform:uppercase;
    margin-top: 2rem;
    color:#ff8e28;
    
    
    
}
.correcto{
    
    background-color: green;
    text-align: center;
    padding: 1rem;
    
    margin-top: 2rem;
    color:#ff8e28;
    text-transform: uppercase;
    

} */

.formulario__grupo-input{
    position: relative;
}

.formulario__input{
    color: #ffffff;
    font-size: small;
}

.formulario__input:focus{
    border: none;
    border-bottom: 2px solid #FF8E28;
    outline: none;
    padding: 2px;
}

.formulario__input-error{
    font-size: 10px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo{
    display: block;
}

.formulario__validacion-estado{
    position: absolute;
    left: 150px;
    bottom: 10px;
    z-index: 100;
    font-size: 1.2rem;
    opacity: 0;
}
.formulario__error{
    font-size: 10px;
    height: 26px;
    background-color: #CC0000;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
    margin-bottom: 5px;
    text-align: center;
}
.formulario__error-activo{
	display: block;
}
.formulario__error p{
    margin: 0;
}

.formulario__enviado{
    font-size: 11px;
    height: 26px;
    background-color: #1ed12d;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
    margin-bottom: 5px;
    text-align: center;
}
.formulario__enviado-activo{
	display: block;
}
.formulario__enviado p{
    margin: 0;
}

.formulario__grupo-incorrecto .formulario__input {
	border-bottom: 3px solid #bb2929;
}

.formulario__grupo-correcto .formulario__validacion-estado{
    color: #1ed12d;
    opacity: 1;
}
.formulario__grupo-correcto .formulario__input  {
    border-bottom: 3px solid #1ed12d;
}
.formulario__grupo-incorrecto  .formulario__validacion-estado{
    color: #ca1313;
    opacity: 1;
}
