
<div id="carouselMisRutinas" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselMisRutinas" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselMisRutinas" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselMisRutinas" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item h-0 active">
        <img src="../../../assets/carousel.jpg" class="d-block w-100" alt="Hombre y mujer haciendo una plancha">
        <div class="carousel-caption d-none d-md-block">
            <h5 class="caption"rt>Registra tus rutinas</h5>
            <p  class="caption-p">Te brindamos rutinas y la posibilidad de cargar las tuyas.
            </p>
          </div>
        </div>
        <div class="carousel-item">
        <img src="../../../assets/carousel2.jpg" class="d-block w-100" alt="Grupo de mujeres haciendo ejercicio">
        <div class="carousel-caption d-none d-md-block">
            <h5 class="caption">Tu salud y bienestar son importantes</h5>
            <p class="caption-p">Lleva un registro de tu alimentación y consumo de agua.</p>
          </div>
        </div>
        <div class="carousel-item">
        <img src="../../../assets/carousel3.jpg" class="d-block w-100" alt="Hombre ejercitando">
        <div class="carousel-caption d-none d-md-block">
            <h5 class="caption">Celebramos tus logros</h5>
            <p class="caption-p">Por eso implementamos medallas</p>
          </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselMisRutinas" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselMisRutinas" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container d-flex flex-column align-items-center py-4 py-xl-5 " style="background: var(--bs-black);">

    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2 style="color: var(--bs-orange);">Mis Rutinas</h2>
            <p class="w-lg-50" style="color: var(--bs-orange);">Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.</p>
        </div>
    </div>
    <div class="row gy-4 w-100" style="max-width: 800px;border-width: 21px;border-color: var(--bs-orange);">
        <div class="col-12">
            <div class="card">
              <img class="card-img w-100 d-block" src="../../../assets/tur1.jpg" />
                <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center p-4 fondogra">
                    <h4 style="color: var(--bs-orange);">Registra tu entrenamiento</h4>
                    <p style="color: var(--bs-white)">Volutpat habitasse risus posuere, commodo fusce donec. Turpis donec tristique.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
              <img class="card-img w-100 d-block" src="../../../assets/salud.jpg" style="background: url('https://cdn.bootstrapstudio.io/placeholders/1400x800.png');" />
                <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center p-4 fondogra">
                    <h4 style="color: var(--bs-orange);">Controla tu alimentación</h4>
                    <p style="color: var(--bs-white);">Volutpat habitasse risus posuere, commodo fusce donec. Turpis donec tristique.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
              <img class="card-img w-100 d-block" src="../../../assets/ejer.jpg" />
                <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center p-4 var(--bs-orange) fondogra"style="color:var(--bs-orange)">
                    <h4>Mejora tu calidad de vida</h4>
                    <p style="color: var(--bs-white)">Volutpat habitasse risus posuere, commodo fusce donec. Turpis donec tristique.</p>
                </div>
            </div>
        </div>
    </div>
</div>
