<div class="principal">
<section class="sombra position-relative py-4 py-xl-5 rounded" style="background: #262632;">
    <div class="container position-relative">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 style="color: #FFFFFF;">Contáctanos</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-lg-6 col-xl-6">
                <form action="" id="formulario" class="p-3 p-xl-4  formulario">
                  <!--method="post"-->
                    <div class="formulario__grupo" id="grupo__nombre">
                          <div class="mb-3 formulario__grupo-input">
                            <input id="nombre" class="transparencia formulario-control formulario__input" type="text" name="nombre" placeholder="Nombre" />
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <!-- <p class="formulario__input-error">El Nombre debe tener de 4 a 16 dígitos.</p> -->
                    </div>
                    <div class="formulario__grupo" id="grupo__email">
                        <div class="mb-3 formulario__grupo-input">
                            <input id="email" class="transparencia formulario-control formulario__input" type="email" name="email" placeholder="Correo electrónico*" />
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <!-- <p class="formulario__input-error">Ingrese un correo valido.</p> -->
                    </div>
                    <div class="formulario__grupo" id="grupo__asunto">
                        <div class="mb-3 formulario__grupo-input">
                            <input id="asunto" class="transparencia formulario-control formulario__input" type="text" name="asunto" placeholder="Asunto*">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <!-- <p class="formulario__input-error">El Asunto debe tener de 6 a 40 dígitos.</p> -->
                    </div>
                    <div class="formulario__grupo" id="grupo__mensaje">
                        <div class="mb-3 formulario__grupo-input">
                            <textarea id="mensaje" class="transparencia formulario-control formulario__input" name="mensaje" rows="4" placeholder="Mensaje" style="margin: 0px;margin-top: 18px;"></textarea>
                        </div>
                        <!-- <p  class="formulario__input-error">El mensaje no puede estar vacío.</p> -->
                    </div>

                    <p class="requerido">*Campos requeridos</p>
                    <!-- <div class="formulario__error" id="formulario__error">
                        <p><i class="fas fa-exclamation-triangle"></i> Rellena el formulario. </p>
                    </div> -->
                    <div class="formulario__enviado" id="formulario__enviado">
                        <p><i class="fas fa-check-circle"></i>  Enviado. </p>
                    </div>
                    <div>
                        <button class="transparencia btn btn-primary d-block w-50 border-0 formulario__grupo formulario__grupo-btn-enviar" type="submit"
                        style="background:#ff6600" onMouseOver="this.style.background='#FF8E28'; this.style.color='#262632'"
                        onMouseOut="this.style.background='#ff6600'; this.style.color='#fdfdfd'" id="boton">Enviar</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="link-container d-flex flex-column justify-content-start align-items-start h-100">
                    <div class="d-flex align-items-center p-3">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon"><i class="fa-brands fa-github icon2"></i>
                        </div>
                        <div class="px-2">
                            <h6 class="mb-0"><a href="#" style="color: #ffffff;">ProyectoISPCGrupo55</a></h6>
                            <p class="mb-0"></p>
                        </div>
                    </div>
                    <div class="link-container d-flex align-items-center p-3"><i class="fa-solid fa-envelope icon2" ></i>
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon">
                        </div>
                        <div class="px-2">
                            <h6 class="mb-0"><a href="#" style="color: #FFFFFF;">grupo55@gmail.com</a></h6>
                        </div>
                    </div>
                    <div class="link-container d-flex align-items-center p-3"><i class="fa-brands fa-discord icon2"></i>
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-start align-items-center d-inline-block bs-icon">
                        </div>
                        <div class="px-2">
                            <h6 class="mb-0"><a href="#"style="color: #FFFFFF">Canal de Discord</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
